@model IEnumerable<ClientManagement.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1 class="centered">Client List</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.IsLoyal)</th>
            <th>@Html.DisplayNameFor(model => model.MembershipType)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.IsLoyal)</td>
                <td>@Html.DisplayFor(modelItem => item.MembershipType.MembershipTypeId)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClientId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ClientId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClientId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
